@charset "utf-8";
/* CSS Document */

/*===================共用=================*/
body{ background-color:#000;}
body.br_w{ background-color:#fff;}

h1, h2, h3, h4, h5, h6, p { color:#333333; font-family:"nimbus-sans","xingothic-tc-w4","微軟正黑體","Microsoft JhengHei",sans-serif;}
p{ font-size:15px; _font-size:14px;}
a{ text-decoration:none; outline: none; /* for Firefox */  hlbr:expression(this.onFocus=this.blur()); /* for IE */}
a:hover{ text-decoration:underline;}
select, input, textarea{ font-family:"微軟正黑體",Helvetica,"Heiti TC","Microsoft Sans Serif","Microsoft Sans Serif","Helvetica","Geneva","sans-serif"; font-size:15px;}

.p_eng{ font-size:13px; font-family: 'Monda', sans-serif;}

.theContents { width: 1000px; margin: 0px auto;}

.logoBox{ position: relative; display:block;}
.TopHeader{ width:100%; position:fixed; top:0; z-index:9999; border-bottom:1px solid #965682; background:url(../images/br_k.png) 0 0 repeat;}
.TopHeader h1.logo{ left:84px; top:15px; display:none; position:absolute;}
.TopHeader h1.logo a{ width:280px; height:58px; display:block; background:url(../images/logo.png) center center no-repeat; text-indent:-9999px; background-size: cover;}
.TopHeader h1.logo a:hover{ opacity:0.9;}

.TopHeader ul.menu{ float:right;}
.TopHeader ul.menu li{ float:left; margin:0 6.5px; position:relative; background:url(../images/line_point.png) right center no-repeat;}
.TopHeader ul.menu li.none_br{ background:none;}
.TopHeader ul.menu li h3{ font-size:15px; /*line-height:40px;*/}
.TopHeader ul.menu li h3 a{ color:#FFF; padding:10px 28px 10px 18px; display:block; cursor:pointer;}
.TopHeader ul.menu li h3 a:hover{ text-decoration:none; color:#ff1b7a;}
.TopHeader ul.menu li h3 a.color01{ color:#F06}
.TopHeader ul.menu li h4{ font-size:15px; /*line-height:40px;*/}
.TopHeader ul.menu li h4 a{ color:#FFF; padding:10px 28px 10px 18px; display:block; cursor:pointer;}

.TopHeader ul.menu li.userIDBox{ padding:10px 5px 10px;}
.TopHeader ul.menu li.userIDBox p.userID{ float:left; color:#fff;}
.TopHeader ul.menu li.userIDBox .userPhoto { float:left; width:22px; height:22px; margin:0 6px;}

.TopHeader ul.menu li ul.submenu{ position:absolute; left:0; top:42px; z-index:600; background:url(../images/br_k.png) 0 0 repeat; border-top:3px solid #965682; display:none; padding:8px 0;}
.TopHeader ul.menu li ul.submenu li{ float:none; margin:0; background:none;}
.TopHeader ul.menu li ul.submenu li p{ text-align:center; font-size:14px; /*line-height:35px;*/}
.TopHeader ul.menu li ul.submenu li p a{ padding:6px 10px; color:#FFF; display:block;}
.TopHeader ul.menu li ul.submenu li p a:hover{ color:#e61e5a; text-decoration:none;}
.TopHeader ul.menu li ul.sm_p00{ left:-8px; width:110px;}
.TopHeader ul.menu li ul.sm_p01{ left:16px; width:110px;}
.TopHeader ul.menu li ul.sm_p02{ left:-10px; width:115px;}
.TopHeader ul.menu li ul.sm_p03{ left:-15px; width:120px;}

.menu_central .theContents{ width:880px;}

@media ( max-width:1280px) {.TopHeader .theContents { /* width: 100%;*/ }
.addlogo ul.menu li h3 a{ padding:10px 18px 10px 10px;}
.addlogo ul.menu li ul.sm_p01 { left: 9px; width:108px;}
.addlogo ul.menu li ul.sm_p00, .addlogo ul.menu li ul.sm_p02{ width:95px;}
.addlogo ul.menu li ul.sm_p03{ width:100px; left: -18px;}}
@media ( max-width:1200px) {.addlogo ul.menu li ul.sm_p00{ left:-11px;}
.addlogo ul.menu li h3 a{ padding:10px 10px 10px 0px;}
.addlogo ul.menu li ul.sm_p00, .addlogo ul.menu li ul.sm_p02{width:85px;}
.addlogo ul.menu li ul.sm_p02{ width:90px;}}
@media ( max-width:1080px) {.addlogo ul.menu li ul.sm_p00{ left:-17px;}
.addlogo ul.menu li ul.sm_p01{ left:8px;}
.addlogo ul.menu li ul.sm_p02{ left:-20px;}
.addlogo ul.menu li ul.sm_p03{ left:-27px;}}
@media ( max-width:1020px) {.TopHeader ul.menu li{ margin: 0 4px;}}
@media ( max-width:1000px) {.theContents { width: 95%;}}
@media ( max-width:880px) {.menu_central .theContents{ width:100%;}}
@media ( max-width:830px) {.TopHeader{ display:none;}}
@media ( max-width:750px) {.menu_central .theContents{ display:none;}}

.MiddleBox{ width:100%;}
.MiddleBox .youtubeBox{ width:95%; padding:60px 0; margin:0 auto;}
.MiddleBox .youtubeBox p.title{ text-align:center; height:80px; text-indent:-9999px; width:100%; background:url(../images/title/01.png) center top no-repeat;}
.MiddleBox .youtubeBox p.otherBox{ text-align:center; letter-spacing:6px; padding:60px 0 30px 0; font-weight:bold;}
.MiddleBox .youtubeBox p.otherBox a{ color:#000; padding:15px 25px; border:1px solid #000; margin:0 20px;}
.MiddleBox .youtubeBox p.otherBox a:hover{ text-decoration:none; background-color:#000; color:#FFF;}
.MiddleBox .youtubeBox p.otherBox span{ font-family: 'Monda', sans-serif; font-weight:normal;}

.MiddleBox .youtubeBox .yBox{ width:100%; margin:20px auto;}
.MiddleBox .youtubeBox .yBox .videsBox{ margin:0 auto; width:880px;}
.MiddleBox .youtubeBox .yBox .videsBox iframe{ width:100%; min-height:490px;}

.MiddleBox p.slogan{ text-align:center; height:180px; text-indent:-9999px; width:100%; background:url(../images/title/02.png) center center no-repeat;}
.MiddleBox .the_history{ width:538px; margin:0 auto;}

/*
@media screen and (max-device-width: 750px) {.TopHeader{position: inherit; background-color:#000;}
*/
.inside{/* border-top:1px solid #E4E4E4;*/}
.inside .theContents{ padding:40px 0 60px 0; background:url(../images/br_k.png) 0 0 repeat;}
.MiddleBox .both{ width:100%;}

.MiddleBox h2.h2_title{ color:#fff; letter-spacing:-1px; font-size:30px; text-align:center; font-family: Lato, 'Apple LiGothic', 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif; font-weight: 900; padding-bottom:30px;}
.MiddleBox h2.h2_title span{ padding:5px 8px; background-color:#ff1b7a;}
.MiddleBox h3.h3_title{ text-align:center; color:#ff1b7a; font-size:24px;font-family: Lato, 'Apple LiGothic', 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif; font-weight: 900; padding-top:12px;}
.MiddleBox h3.h3_title span.icon_l{ padding-left:45px; background:url(../images/title/img_h2_flower.png) left center no-repeat;}
.MiddleBox h3.h3_title span.icon_r{ padding-left:45px; background:url(../images/title/img_h2_flower.png) right center no-repeat;}
.MiddleBox p.h3_title_sub{ text-align:center; color:#ff1b7a; font-size:15px;font-family:"Helvetica","Heiti TC"; line-height:24px;}

.MiddleBox p.info{ width:91%; margin:0 auto; font-size:14px; text-align:center; line-height:22px; color:#fff; padding:8px 0 15px;}
.MiddleBox p.info span.pgreen{ color:#00ffbe;}
.MiddleBox p.info span.pgreen a{ color:#00ffbe;}
.MiddleBox p.info span.p_eng{ color:#a0a0a0; line-height:18px;}
.MiddleBox p.info a.c_g{ color:#00ffcb;}

.MiddleBox p.color_gray{ color:#b5b5b6; padding-top:15px;}
.MiddleBox p.big{ font-size:18px; line-height:24px; color:#fff; font-weight:bold;}
.MiddleBox p.big{ font-size:18px; line-height:24px; color:#fff; font-weight:bold;}
.MiddleBox p.p_advantage{ width:465px; text-align:justify; line-height:24px; padding:15px 0;}
.MiddleBox p.p_advantage span{ color:#ffff00;}
.MiddleBox p.p_green1000{ color:#00ffc7;font-size:18px; line-height:24px;font-weight:bold;}
.MiddleBox p.big_pink{ padding:15px 0 5px; font-size:36px; letter-spacing:2px; text-align:center; color:#ff1b7a;font-family: Lato, 'Apple LiGothic', 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif; font-weight:900;}

.MiddleBox .img_h2_title{ width:560px; margin:0 auto;}
.MiddleBox .about_photo{ width:91%; margin:0 auto; padding-bottom:20px;}

.MiddleBox .both .LBox{ float:left; width:35%; padding:11px 5% 0 0;}
.MiddleBox .both .RBox{ float:left; width:60%;} 
.google_doc_Box{ width:100%; margin:0 auto; padding-top:25px;}

.leader h2.h2_title{ text-align:center;}
@media ( max-width:740px) {.MiddleBox p.big_pink{ width:94%; margin:0 auto; font-size:30px;}}
@media ( max-width:680px) {.MiddleBox p.big_pink{ font-size:28px;}}
@media ( max-width:565px) {.MiddleBox .img_h2_title{ width:94%;}
.MiddleBox h3.h3_title{ font-size:21px;	}}
@media ( max-width:350px) {.MiddleBox h2.h2_title{ font-size:18px;}}

.leader .both{ width:860px; margin:0 auto;}
.leader .both .leaderBox{ width:30%; float:left; padding:10px 1.53% 20px 1.53%;}
.leader .both .leaderBox .photo{ width:83%; margin:0 auto; padding:10px 0;}
.leader .both .leaderBox p{ text-align:center; color:#fff;}
.leader .both .leaderBox p.name{ font-size:18px; min-height:60px;}
.leader .both .leaderBox p.name span.p_eng{ font-size:15px; line-height:24px;}
.leader .both .leaderBox p.name span.ss{ font-size:14px; line-height:24px;}
.leader .both .leaderBox .info{ min-height:145px;}
.leader .both .leaderBox .info p{ font-size:14px; line-height:22px;}
.leader .both .leaderBox .info a.icon_FB{ width:25px; height:25px; display:block; margin:8px auto; background:url(../images/icon_sFB.png) center center no-repeat;}

@media ( max-width:599px) {.leader .both .leaderBox{ width:46%;}}
@media ( max-width:420px) {.leader .both .leaderBox .info{ min-height:100px;}}
@media ( max-width:320px) {.MiddleBox h3.h3_title{ font-size:15px;}}

.inside .RankBox{ width:650px; margin:20px auto; }
.inside .RankBox p{ padding:15px 5px; color:#fff;}
.inside .RankBox table tr.title td{ border-bottom:none;}
.inside .RankBox table tr.title p{ font-size:17px; font-weight:bold; padding:20px 10px;}
.inside .RankBox table tr td{ border-bottom:1px solid #fff;}
.inside .noline{ width:450px; margin-left:30%;}
.inside .noline table tr td{ border-bottom:none;}
@media ( max-width:720px) {.inside .noline{ margin-left:22%;}}
@media ( max-width:650px) {.inside .RankBox{ width:96%;}
.inside .noline{ width:450px; margin-left:auto;}}
@media ( max-width:455px) {.inside .noline{ width:96%; margin-left:auto;}}

.inside .WarriorBox{ width:90%; margin:0 auto;}
.inside .WarriorBox p{ padding:10px; color:#fff;}
.inside .WarriorBox p.icon_up{ width:20px; background:url(../images/warrior/icon_up.png) center left no-repeat; padding-left:20px; font-size:13px;}
.inside .WarriorBox p.icon_down{ width:20px; background:url(../images/warrior/icon_down.png) center left no-repeat; padding-left:20px; font-size:13px;}
.inside .WarriorBox p.icon_no{ width:25px; display:block; height:20px; background:url(../images/warrior/icon_00.png) center left no-repeat; padding:0;}
.inside .WarriorBox p.ss{ font-size:13px;}
.inside .WarriorBox p.color_g{ color:#00ff78;}
.inside .WarriorBox p.color_y{ color:#ffff00;}

.inside .WarriorBox table tr td{ border-bottom:1px solid #fff;}
.inside .WarriorBox table img{ margin:4px 0 0 3px;}

.inside .WarriorBox .award{ width:33%; float:left; padding-bottom:20px;}
.inside .WarriorBox .award50{ width:50%; float:left; padding-bottom:20px;}

@media ( max-width:599px) {.inside .WarriorBox .award{ padding-bottom:0;}
.inside .WarriorBox .award{ width:50%; padding-bottom:0;}}

.inside p.pageBox{ text-align:center; padding:30px 0 5px; color:#fff;}
.inside p.pageBox a{ color:#fff; padding:0 5px;}

.play_photo{ width:100%;}
.play_photo .pBox{ width:100%;}
.play_photo .disbox{ display:block; height:516px; overflow:hidden;}

.play_photo .lBox{ float:left; width:50%;}
.play_photo .rBox{ float:left; width:50%;}

/*login...*/
.theUserBox{ width:358px; margin:0 auto; padding:30px; /*min-height:750px;*/}
.theUserBox .top{ min-height:190px;}
.theUserBox .top p.title{ text-align:center; font-size:18px; color:#595757; margin:15px 0 20px 0;}
.theUserBox p{ font-size:16px;}

.theUserBox p.remind{ text-align:center; padding:5px 0; color:#7b7b7b; font-size:14px;}
.theUserBox p.error{ text-align:center; color:#F00; padding-bottom:15px;}
.theUserBox p.the_ok{text-align:center; color:#00a700; padding-bottom:15px;}
.theUserBox p.not_yet{ color:#fff;}
.theUserBox h1.logo{ height:150px; background:url(../images/logo_icon.png) center center no-repeat; margin:0 auto; text-indent:-9999px; background-size:50%;}
.theUserBox h1 span{ color:#F30;}
.theUserBox h3{ text-align:center; color:#ed0000; font-size:16px; font-weight:normal;}

.theUserBox .FillBox{ width:100%; margin-bottom:12px;}
.theUserBox .FillBox input{ width:97%; padding:12px 1.5%; font-size:16px; color:#aeaeae; text-align:center; background-color:#FFF; border:1px solid #898989; font-family:"微軟正黑體","Helvetica","Heiti TC";}
.theUserBox .FillBox input.f_in{ color:#333;}
.theUserBox .FillBox input.f_ID{ color:#886767; font-size:16px; font-weight:bold;}
.theUserBox .FillBox textarea.b1{ width:97%; padding:12px 1.5%; min-height:140px; color:#aeaeae; text-align:center; background-color:#FFF; border:none; border-bottom:1px solid #e6e0e0;font-family:"微軟正黑體","Helvetica","Heiti TC";}
.theUserBox .FillBox textarea.f_in{ color:#333;}

.theUserBox .FillBox p a.btm_c_org{ cursor:pointer; width:100%; font-weight:bold; text-align:center; color:#FFF; padding:11px 0; display:block; background-color:#e7336e;}
.theUserBox .FillBox p a.btm_c_fb{ cursor:pointer; width:100%; font-weight:bold; text-align:center; color:#FFF; padding:11px 0; display:block; background-color:#3b5998;}
.theUserBox .FillBox p a.btm_c_fb span{ background:url(../images/btm_icon_fb.png) no-repeat; padding-left:40px;}
.theUserBox .FillBox p a:hover{ text-decoration:none; opacity:0.9;}
.theUserBox .FillBox p input.btm_c_org{ cursor:pointer; font-weight:bold; text-align:center; color:#FFF; padding:11px 0; margin:0 auto; display:block; background-color:#ff722e; border-radius:4px;}
.theUserBox .FillBox p input.btm_c_org:hover{ opacity:0.9;}
.theUserBox .FillBox p input.width50{ width:160px;}

.theUserBox .FillBox .sign_title{ width:100%;}
.theUserBox .FillBox .sign_title p{ float:left; color:#595757; line-height:30px;}
.theUserBox .FillBox .sign_title p.error{ float:right; font-size:14px; color:#F00; padding-bottom:0px;}
.theUserBox .FillBox input.red-b{ border-color:#ff0000;}

.theUserBox .otherBox{ width:100%; padding-bottom:12px;}
.theUserBox .otherBox p.other{ text-align:center; font-size:14px; color:#ffffff;}
.theUserBox .otherBox p.other a{ color:#ffffff;}
.theUserBox .otherBox .leftB{ float:left;}
.theUserBox .otherBox .leftB input.b1{ float:left; margin:4px 8px 0 0;}
.theUserBox .otherBox .leftB p{ float:left; }
.theUserBox .otherBox .leftB p a{ color:#00519d;}

.theUserBox .otherBox .rightB{ float:right;}
.theUserBox .otherBox .rightB p{ font-size:14px; padding-bottom:0px;}
.thanks_sign{ margin-top:10%;}
.thanks_sign p.sign_ok{ font-size:22px; text-align:center; color:#00a700; padding-bottom:15px;}
.thanks_sign p.sign_ok span{ font-size:11px;}

@media ( max-width:420px) {.theUserBox{ width:90%;}}

/*footer*/
.Footer_wrap { width: 100%; padding:30px 0px; }
.Footer_wrap p.Copyright { text-align: center; font-size:14px;}
.Footer_wrap p.Copyright span.p_eng{ font-size:12px; line-height:28px;}

/**/
.container { width:100%; height:1080px;/* overflow:hidden;*/}
.ComingsoonBox{ width:100%;}
.ComingsoonBox h1{ width:500px; height:300px; display:block; text-indent:-9999px; background:url(../images/img_comingsoon.png) center center no-repeat; margin:200px auto 20px auto; background-size:cover;}
.ComingsoonBox p{ text-align:center; color:#FFF; font-size:28px; font-weight:bold; margin:100px 0 20px 0; letter-spacing:5px; text-shadow:0px 0px 6px #000;}
.ComingsoonBox p.star{ width:250px; height:30px; font-size:20px; text-align:center; display:block; margin:0 auto; background: url(../images/img_star5.png) center top no-repeat; background-size:70%; padding-top:30px;}
.ComingsoonBox p.Number_Members{ width:95%; text-align:center; font-size:48px; margin:10px auto 20px auto;}
.ComingsoonBox p.Number_Members span{ padding:0 5px;}

.ComingsoonBox .OpenBetaBox{ width:430px; margin:0 auto 40px auto;}
.ComingsoonBox .plz_login{ width:624px; margin:40px auto; padding-top:24%;}

.font-size100{ font-size:120px; color:#FFF; margin:0 auto;text-align:center; text-shadow:0px 0px 10px #000; font-family: Lato, 'Apple LiGothic', 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif;}
.hamburger{ display:none;}

@media (max-height:1000px) {.ComingsoonBox h1{ margin:100px auto 20px auto;}
.ComingsoonBox p{ margin:50px 0 20px 0;}
.font-size100{ font-size:70px;}}
@media (max-width:768px){.font-size100{ width:90%; font-size:80px;}}
@media (max-width:830px){.hamburger{ display:block;}}
@media (max-width:640px){.ComingsoonBox .plz_login{ width:80%; padding-top:50%;}}
@media (max-width:520px){.ComingsoonBox h1{ width:300px; height:180px;}
.ComingsoonBox p{ font-size:24px;}
.font-size100{ font-size:50px;}}
@media (max-height:440px){.ComingsoonBox .OpenBetaBox{ width:80%;}}

.mobile-nav{ width:325px !important; background-color:#533748; z-index:999;}
.mobile-nav ul.food_menu{ display:none;}
.mobile-nav ul.food_menu h4{ font-size:18px; color:#D96595; padding:8px 0; border-bottom:1px solid #874865; margin-bottom:10px;}
.mobile-nav ul.food_menu p{ font-size:16px;}
.mobile-nav ul.food_menu p a{ color:#FFFFFF; margin-right:22px; line-height:30px;}
.mobile-nav ul.food_menu li{ padding-bottom:18px;}
.mobile-nav ul.Oneself{ width:100%;}
.mobile-nav ul.Oneself li{ border-top:1px solid #947D7D;}
.mobile-nav ul.Oneself li p{ font-size:16px;}
.mobile-nav ul.Oneself li a{ color:#FFFFFF; width:100%; display:block; padding:20px 0;}
.mobile-nav ul.Oneself li.user{ padding:10px 0;}
.mobile-nav ul.Oneself li.user p img{ float:left; width:50px; height:50px; display:block; border-radius:50px;}
.mobile-nav ul.Oneself li.user p a{ float:left; width:inherit; padding:15px 10px;}

@media (max-width:750px){.mobile-nav ul.food_menu{ display:block;}}
@media (max-width:450px){.mobile-nav{ width:300px !important;}}
@media (max-width:420px){.mobile-nav{ width:250px !important;}}


.ContractTermsBox{ width:780px; margin:0 auto; padding:30px 0;}
.ContractTermsBox h1.top_logo{ width:178px; height:150px;display:block; margin:0 auto 20px auto; text-indent:-9999px; background:url(../images/logo_icon.png) center center no-repeat; background-size:cover;}

.ContractTermsBox p.note{ color:#ed2a6a; padding-bottom:20px; text-align:center;}
.ContractTermsBox p.t_title{ font-size:20px; text-align:center; padding:25px 0;}

.ContractTermsBox ul.terms{ list-style:decimal; padding-left:25px; color:#666; font-size:14px; padding-bottom:50px;}
.ContractTermsBox ul.terms li{ padding-bottom:10px;}
.ContractTermsBox ul.terms li p{ text-align:justify; line-height:24px;}
.ContractTermsBox ul.terms li p a{ color:#439dd1; text-decoration:underline;}
@media (max-width:780px){.ContractTermsBox{ width:90%; }}

/*修改密碼*/
.ChangePW{ width:460px; min-height:171px; background-color:#fff; border:1px solid #ff1b7a;}
.ChangePW p.pop_title{ font-size:20px; color:#727171; font-weight:bold; padding-bottom:15px;}
.ChangePW .cPW{ width:100%; margin-bottom:15px;}
.ChangePW .cPW .cbox{ float:left; width:48.5%;}
.ChangePW .cPW .cbox p{ padding-bottom:5px;}
.ChangePW .cPW .FR{ float:right;}
.ChangePW .cPW input{ width:97%; padding:12px 1.5%; font-size:16px; color:#aeaeae; text-align:center; background-color:#FFF; border:1px solid #898989; font-family:"微軟正黑體","Helvetica","Heiti TC";}
.ChangePW .cPW input.f_in{ color:#333;}
.ChangePW #cboxClose{ background:url(../images/controls_k.png) 0 0 no-repeat ; background-size:cover;}


/*編輯個人資料*/
.EditPersonal_info{ width:460px; min-height:171px; background-color:#fff; border:1px solid #ff1b7a;}
.EditPersonal_info .top_photo{ width:100%;}
.EditPersonal_info .top_photo .user_photo{ width:35%; float: left;}
.EditPersonal_info .top_photo .user_info{ float:left; padding-left:5%; width:60%;}
.EditPersonal_info .top_photo .user_info .user_rank{ width:100%; padding-bottom:5px;}
.EditPersonal_info .top_photo .user_info .user_rank p.name{ float:left; color:#585858; font-size:30px; line-height:30px; font-weight:bold;}
.EditPersonal_info .top_photo .user_info .user_rank .icon_rank{ float:left; width:36px;}
@media (max-width:460px){ .ChangePW{ width:95%;}
.EditPersonal_info{ width:95%;}}

.EditPersonal_info p.btn_edit{ font-size:14px; padding:10px 0;}
.EditPersonal_info p.btn_edit a{ color:#fff; background-color:#666666; padding:1px 4px;}
.EditPersonal_info p.pop_title{ font-size:20px; color:#666;}
.EditPersonal_info p.pop_title span{ font-size:14px;}

.EditPersonal_info .Fill{ width:100%; padding:15px 0;}
.EditPersonal_info .Fill p{ color:#666; padding:5px 0;}
.EditPersonal_info .Fill input{ width:45%; padding:12px 1.5%; font-size:16px; color:#aeaeae;  background-color:#FFF; border:1px solid #898989; font-family:"微軟正黑體","Helvetica","Heiti TC";}
.EditPersonal_info .Fill textarea{ width:97%; min-height:200px; padding:12px 1.5%;font-size:16px; background-color:#FFF; border:1px solid #898989; font-family:"微軟正黑體","Helvetica","Heiti TC";}
.EditPersonal_info .Fill .f_in{ color:#333;}

.user_info_pop{ border:none; background:url(../images/br_user_info.png) center top no-repeat; height:800px;}
.user_info_pop p{ color:#fff;}
.user_info_pop p.self_info{padding:20px 0; line-height: 25px; font-size: 15px;}
.user_info_pop .top_photo .user_info .user_rank p.name{ color:#fff;}

/*背景*/
.br_img01{ background:url(../images/br_02.jpg) center top no-repeat #000; background-attachment: fixed;}
.br_img01 .inside{ margin:150px 0 20px 0;}
.br_img01 .inside .both{ width:90%; margin:0 auto;}
.br_img01 .inside .both p{ text-align:center;}
.br_img02{ background:url(../images/br_a02.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img03{ background:url(../images/br_a03.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img04{ background:url(../images/br_a04.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover; padding:150px 0 20px 0;}
.br_img05{ background:url(../images/br_a05.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img05 .inside{ margin:150px 0 20px 0;}
.br_img06{ background:url(../images/br_a06.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img06 .inside{ margin:150px 0 40px 0;}
.br_img06 .inside .theContents{ padding: 40px 0 0px 0;}
.br_img06 .inside .theContents{ padding:40px 0 60px 0; background:url(../images/br_k2.png) 0 0 repeat;}

.br_img07{ background:url(../images/br_a07.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img07 .inside{ margin:150px 0 40px 0;}
.br_img07 .inside .theContents{ padding: 40px 0 0px 0;}
.br_img07 .pic_history{ width:609px; margin:0 auto; padding-top:30px;}
.br_img07{ background:url(../images/br_a07.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img07 .inside{ margin:150px 0 40px 0;}
.br_img07 .inside .theContents{ padding: 40px 0 0px 0;}
.br_img07 .pic_history{ width:609px; margin:0 auto; padding-top:30px;}
.br_img08{ background:url(../images/br_a08.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img08 .inside{ margin:150px 0 40px 0;}
.br_img08 .inside .theContents{ padding: 40px 0 0px 0;}
.br_img09{ background:url(../images/br_a09.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img09 .inside{ margin:150px 0 40px 0;}
.br_img09 .inside .theContents{ padding: 40px 0 40px 0; min-height:400px;}
.br_img10{ background:url(../images/br_a10.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img10 .inside{ margin:150px 0 40px 0;}
.br_img10 .inside .theContents{ padding: 40px 0 40px 0;}
.br_img10 .MiddleBox .img_h2_title{ width:720px;}
.br_img11{ background:url(../images/br_a11.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img11 .inside{ margin:150px 0 40px 0;}
.br_img11 .inside .theContents{ padding: 40px 0 40px 0;}
.br_img12{ background:url(../images/br_a12.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img12 .inside{ margin:150px 0 40px 0;}
.br_img12 .inside .theContents{ padding: 40px 0 40px 0;}
.br_img12 .MiddleBox h3.h3_title{ padding-top:30px; font-size:36px; letter-spacing:2px;}
.br_img13{ background:url(../images/br_a13.jpg) center top no-repeat #000; background-attachment: fixed; background-size:cover;}
.br_img13 .inside{ margin:150px 0 40px 0;}
.br_img13 .inside .theContents{ padding: 40px 0 40px 0;}

.addlogo{ background: url(../images/br_header.png) 0 -13px repeat-x; height:110px; border:none;}
.addlogo .theContents{ width:1480px;}
.addlogo h1.logo{ display: block;}
.br_pinkline{ position: fixed; top:-15px; width:100%; height:110px; background:url(../images/br_header2.png) center bottom no-repeat;}

@media (max-width:1480px){.addlogo .theContents{ width:100%;}
.br_pinkline{ background:url(../images/br_header2_L.png) -218px  bottom no-repeat;}
.TopHeader h1.logo{ left:72px;}}

@media (max-width:980px){/*.addlogo{ width:880px;}*/
.addlogo h1.logo{ display:none;}
.addlogo ul.menu li{  margin:0 6.5px;}
.addlogo ul.menu li h3 a { padding: 10px 18px 10px 10px;}
.addlogo .br_pinkline{background: url(../images/br_header2_M.png) 0 bottom repeat-x;}}

@media (max-width:830px){.br_img01 .inside, .br_img05 .inside, .br_img06 .inside, .br_img07 .inside, .br_img08 .inside, .br_img09 .inside,
 .br_img10 .inside, .br_img11 .inside, .br_img12 .inside{ margin:70px 0 20px 0;}
.br_img04{ padding:70px 0 20px 0}]}
@media (max-width:750px){.br_img10 .MiddleBox .img_h2_title{ width:94%;}}
@media (max-width:630px){.br_img07 .pic_history{ width:90%}}

/*帝國名人堂*/
.celebrity{ margin:150px 0 20px 0;}

/*攻略大補帖*/
.StrategyGuideBox{ width:430px; margin:0 auto; padding:15px 0;}
.StrategyGuideBox p.btm_SG{ float:left; margin:10px 15px; text-align:center; font-size:22px; line-height:24px;font-family: Lato, 'Apple LiGothic', 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif;}
.StrategyGuideBox p.btm_SG span { font-size:15px; font-family:'Microsoft JhengHei'; font-weight:bold;}
.StrategyGuideBox p.btm_SG a{ width:178px; height:55px; color:#ff1b7a; display:block; background:url(../images/btn_br_-strategy.jpg) center center no-repeat; padding-top:9px;}
.StrategyGuideBox p.btm_SG a.nolink{ color:#898989;}
.StrategyGuideBox p.btm_SG a:hover{ opacity:.9; text-decoration:none;}
.StrategyGuideBox p.btm_SG a.nolink:hover{ opacity:1;}
.SG3{ width:635px;}

/*教學影片區*/
.t_videosBox{ width:100%; padding:25px 0;}
.t_videosBox .vBoxs{ width:30%; float:left; margin:0 1.5% 20px 1.5%;}
.t_videosBox .vBoxs iframe{ border:1px solid #f80500;}
.t_videosBox .vBoxs p{ text-align:center; padding:10px 0; color:#fff;}
.videos_STEP{ width:80%; margin:15px auto;}
.videos_STEP iframe{ height:430px;}

.newStartBox{ width:350px; margin:0 auto; padding:15px 0;}
.newStartBox p.btm{ float:left; width:45%; margin:10px 2%; text-align:center; font-size:18px; line-height:24px; color:#fff; font-family: Lato, 'Apple LiGothic', 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif;}
.newStartBox p.btm a{ width:100%; padding:5px 0; font-size:16px; color:#fff; display:block; background-color:#ff1b7a; margin:10px 0;}
.newStartBox p.btm a:hover{ opacity:.9; text-decoration:none;}

@media (max-width:599px){.t_videosBox .vBoxs{ width:46.5%}.videos_STEP iframe{ height:200px;}}
@media (max-width:399px){.t_videosBox .vBoxs{ width:96.5%} .newStartBox{ width:90%;}}
