/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}



/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { position: relative; width:100%;}
.flex-pauseplay span {text-transform: capitalize;}
.flexslider p{ margin:0;}
/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 44px; border: 4px solid #fff; position: relative;  zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */


.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 59px; height: 59px; margin: -30px 0 0; position: absolute; top: 50%; z-index: 100; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); /*text-shadow: 1px 1px 0 rgba(255,255,255,0.3); */-webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease;    text-indent:-9999px;}
.flex-direction-nav .flex-prev { left: -30px;  background:url(../images/arrow_prev_f1.png) no-repeat; display: block;  width: 59px; height: 59px;}
.flex-direction-nav .flex-next { right: -30px; background:url(../images/arrow_next_f1.png) no-repeat; display: block;  width: 59px; height: 59px;}
.flexslider:hover .flex-prev { opacity: 0.7; left: -30px; }
.flexslider:hover .flex-next { opacity: 0.7; right: -30px; }
.flexslider:hover .flex-next:hover { opacity: 0.8;  background:url(../images/arrow_next_f2.png) no-repeat;}
.flexslider:hover .flex-prev:hover { opacity: 0.8; background:url(../images/arrow_prev_f2.png) no-repeat; }
.flex-direction-nav .flex-disabled { opacity: 0.8!important; filter:alpha(opacity=0.8); cursor: default; }
.flex-direction-nav a:before  {  display: inline-block;  }
.flex-direction-nav a.flex-next:before  {  content: ''; }




/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute;text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #c0c1bd; background: rgba(161,162,154,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(161,162,154,0.3); -moz-box-shadow: inset 0 0 3px rgba(161,162,154,0.3); -o-box-shadow: inset 0 0 3px rgba(161,162,154,0.3); box-shadow: inset 0 0 3px rgba(161,162,154,0.3); }
.flex-control-paging li a:hover { background:#ffc519; background: background: rgba(161,162,154,0.5); }
.flex-control-paging li a.flex-active {  background:#ffc519; background: background: rgba(161,162,154,0.5); cursor: default; }
/*
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
*/
.img_photo{ float:left; width:100%;display:block; overflow:hidden; margin:18px 0 40px 0;}
.dataBox{ float:left; width:270px; margin-top:15px;}
.dataBox p{ font-size:16px; color:#292929; line-height:23px;}
	
.flex-caption {  background:url(../images/white_85.png) repeat; bottom: 0;color: #801020; font-size: 20px;left: 0;  line-height: 140%;  padding: 2% 3%;  position: absolute; text-align: center; width: 94%; font-family: Arial, '微軟正黑體', 'Microsoft JhengHei', Helvetica, sans-serif;}
h4.flex-caption2 { color: #941313; font-size: 18px; line-height:26px; height:54px; font-weight:normal; text-align:left; font-family: Arial, '微軟正黑體', 'Microsoft JhengHei', Helvetica, sans-serif; padding-top:5px;}
h4.flex-caption2 a{ color: #941313; text-decoration:none;}
h4.flex-caption2 a:hover{ text-decoration: underline;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}


/***************************index *********************************/
.photo_slider  .flexslider { background:#CB6B43; border: 4px solid #CB6B43;}
.photo_slider2 .flexslider, .photo_slider3 .flexslider  { border: none;}
.photo_slider  .flex-viewport,
.photo_slider2 .flex-viewport, .photo_slider3 .flex-viewport{ }
.photo_slider  .flex-viewport .figure,
.photo_slider2 .flex-viewport .figure, .photo_slider3 .flex-viewport .figure 	{  border: solid 4px #FFF;  background: #FFF;  border-radius:5px;  }  
.photo_slider  .flex-viewport .figure img{width:594px; height:302px;}

.photo_slider2 .flex-viewport .figure img, .photo_slider3 .flex-viewport .figure img{width:300px; height:250px;}
.photo_slider  .flex-prev, .photo_slider  .flex-next,
.photo_slider2 .flex-prev, .photo_slider2 .flex-next,
.photo_slider3 .flex-prev, .photo_slider3 .flex-next{ display:none;}
.photo_slider  .flex-direction-nav,
.photo_slider2 .flex-direction-nav , .photo_slider3 .flex-direction-nav {  display:none;}
.photo_slider2 .flexslider, .photo_slider3 .flexslider { margin: 0;  position: relative;  zoom: 1;  -moz-box-sizing: border-box; box-sizing: border-box;  border-radius:5px;}

.photo_slider2 .flex-control-nav, .photo_slider3 .flex-control-nav {bottom:-30px;}

.boxslider .flexslider { width:890px; height:230px; margin:0 auto; position:relative; background:none; border:none;  box-shadow: none;   -webkit-border-radius: 25px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px; 
    -moz-border-radius: 25px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-radius: 25px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px; }
.boxslider .Boxflex-viewport{  border: none;  background:none;  border-radius:none;    -webkit-border-radius: 25px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px; 
    -moz-border-radius: 25px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;*/
	border-radius: 25px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;overflow:hidden;}

/*.boxslider .flexslider .flex-direction-nav { height:44px; width:44px; }
.boxslider .flexslider .flex-direction-nav a{display: block; width: 42px; height: 42px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 100;  opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; background:url(../images/arrow_prev.png) no-repeat center bottom; }
.boxslider .flexslider .flex-control-nav {bottom: -40px;  position: absolute; text-align: center; width: 100%;}
.boxslider .flexslider .flex-control-nav li { display: inline-block; margin: 0 6px;}
.boxslider .flexslider .flex-direction-nav a.flex-next { right: -36px;  background:url(../images/arrow_next.png) no-repeat center top;}
.boxslider .flexslider .flex-direction-nav a.flex-prev {left: -36px; background:url(../images/arrow_prev.png) no-repeat center bottom;}
.boxslider .flexslider .flexslider:hover .flex-next { opacity: 0.8; right: 5px;}
.boxslider .flexslider .flexslider:hover .flex-prev { left: 5px;opacity: 0.8; }
.boxslider .flexslider .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.boxslider .flexslider .flex-direction-nav .disabled { cursor: default; opacity: 0.3 !important;}
.boxslider .flexslider .flex-direction-nav a:before  { display:block;   }*/
.boxslider .flex-viewport { padding-left:5px; margin-left:5px; }
.boxslider .flexslider .mosaic-box, .boxslider .flexslider .mosaic-box2 {margin:10px 0px 30px;}
.boxslider .carousel li { margin-right:5px;}


.content_slider .flexslider { background: #6DB4B0; border: 4px solid #6DB4B0;}
.content_slider .flex-viewport{  border: 0;   border-radius:0;}
.content_slider .flex-viewport .figure{  border: solid 4px #FFF;  background: #FFF;  border-radius:5px;  }  
.content_slider .flex-viewport .figure img{width:267px; height:207px; float:left;}
.content_slider .flex-prev, .photo_slider  .flex-next{ display:none;}
.content_slider .flex-direction-nav {  display:none;}
 .content_slider .flex-viewport li {background:#6DB4B0; width:602px;}
.content_slider .flex-caption { background: none; bottom: 0;color: #FFFFFF; font-size: 18px;  line-height: 140%;  padding: 2%  15px;position: inherit;  /*height:180px; width:314px;float:right;*/ text-align:left;}

/* Added for Vertical Sldier */

.flexslider.vertical_slider {
	box-shadow:none;
	border:none;
	width:430px;
	margin-bottom:0;
	float:left;
}

.vslider {
	width:100%;
	height:250px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
	border:1px solid #d8c6c6;
	background: #fff;
	padding:3px;
}

.vslider_container {
	width:182px;height:242px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left:430px;
}

.vslider_tab li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	display:block;
	color: #644f40;
	width:100%;
	font-size: 15px;
	padding: 8px;
	box-sizing:border-box;
	height:60px;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #d1c7b8;
	background-color: #eee;
	background-image: linear-gradient(center top,#eee 5%,#e2e2e2 100%);
	background-image: -o-linear-gradient(center top,#eee 5%,#e2e2e2 100%);
	background-image: -moz-linear-gradient(center top,#eee 5%,#e2e2e2 100%);
	background-image: -webkit-linear-gradient(center top,#eee 5%,#e2e2e2 100%);
	background-image: -ms-linear-gradient(center top,#eee 5%,#e2e2e2 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#eee),color-stop(1,#e2e2e2));
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.05,#e2e2e2),color-stop(1,#eee));
}

.vslider_tab li:first-child {
	height: 62px;
}

.vslider_tab li.flex-active {
	position: relative;
	background-color: #fff;
	color:#8f3651;
	background-image: linear-gradient(center top,white 5%,#f7f7f7 100%);
	background-image: -o-linear-gradient(center top,white 5%,#f7f7f7 100%);
	background-image: -moz-linear-gradient(center top,white 5%,#f7f7f7 100%);
	background-image: -webkit-linear-gradient(center top,white 5%,#f7f7f7 100%);
	background-image: -ms-linear-gradient(center top,white 5%,#f7f7f7 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,white),color-stop(1,#f7f7f7));
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,white),color-stop(1,#f7f7f7));
}

.vslider_tab li.flex-active .arrow-left {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #ffffff transparent transparent;
	position: absolute;
	top: 19px;
	left: -10px;
	z-index: 1000;
}

.vslider_tab li.flex-active .arrow-left-border {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 12px 12px 12px 0;
	border-color: transparent #d1c7b8 transparent transparent;
	position: absolute;
	top: 17px;
	left: -12px;
	z-index: 1000;
}