@charset "utf-8";
/* CSS Document */

@import url(reset.css);
@import url(fontawesome/css/font-awesome.min.css);

/*--PC Header--*/
.ContentsBox{ max-width: 1200px; margin: 0 auto;}

.headerBox{ width: 100%; height: 46px; background-color: #fff; position: fixed; top: 0; z-index: 11; border-bottom:1px solid #eeeeee; padding: 25px 0; }
.headerBox h1.logo{ float: left; text-align: center; text-indent: -9999px; padding-right: 50px;}
.headerBox h1.logo a{ width: 145px; height: 40px; display: block; background: url(../images/DCW_logo.png) center center no-repeat ; background-size: contain; }
.headerBox .top_menu{ float: left; padding-top: 12px;}
.headerBox .top_menu ul{text-align: left;}
.headerBox .top_menu ul li{ display: inline-block; }
.headerBox .top_menu ul li h3{ font-size: 18px; font-weight: bold; }
.headerBox .top_menu ul li h3 a{ line-height: 30px; color: #666; padding: 0 25px; }
.headerBox .top_menu ul li h3 a:hover{ color: #000;}
.headerBox .top_menu ul li h3 a.btn_in{ color: #fa800a; }

.headerBox .userBox{ cursor: pointer; float: right; width: 118px; height: 30px; border: 1px solid #e7e7e7; border-radius: 40px; position: relative; margin: 8px 10px 0 0;}
.headerBox .userBox p.the_id{ display: block; width: 80px; line-height: 30px; padding:0 30px 0 8px; height: 30px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; background: url(../images/top_header_arr.png) center right no-repeat; background-size: contain;}
.headerBox .userBox ul.sub_menu{ display: none; position: absolute; top: 62px; z-index: 20; line-height: 0; width: 118px; border-radius:0 0 6px 6px; overflow: hidden; background-color: #f4f4f4; }
.headerBox .userBox ul.sub_menu li{ border-top: 1px solid #e8e8e8; }
.headerBox .userBox ul.sub_menu li p{ font-size: 13px; text-align: center; }
.headerBox .userBox ul.sub_menu li p a{ color: #666; line-height: 50px; width: 100%; display: block; background-color: #f4f4f4; }
.headerBox .userBox ul.sub_menu li p a:hover{ background-color: #e8e7e7; }
.headerBox .searchBox{float: right; margin: 8px 8px 0 0;}
.headerBox .searchBox a.icon_search{ cursor: pointer; width: 35px; height: 35px; display: block; background: url(../images/search_img.png) center center no-repeat; background-size: contain;}

.headerBox p.user_notlogin{float: right; font-size: 16px; padding: 15px 6px 0 0;}
.headerBox p.user_notlogin a{ color: #6b6b6b; margin: 0 15px;}
.headerBox p.user_notlogin a:hover{ text-decoration: underline; }
.headerBox .shopping_car{float: right; margin-top: 4px; cursor: pointer; display: block; height: 40px; padding-left: 48px; background: url(../images/icon_header_shoppingCar.png) center left no-repeat; background-size: contain;}
.headerBox .shopping_car span{ font-size: 14px; color: #fff; background-color: #e55224; width: 25px; height: 25px; margin-top: 7px; border-radius: 50%; display: block; text-align: center; line-height: 25px;}

/*Search */
.theSearchBox{ display: none; width: 100%; padding: 40px 0; background-color: #fff; position: fixed; top: 97px; z-index: 11; box-shadow:0 3px 5px rgba(0,0,0,.1);}
.theSearchBox .ContentsBox{ position: relative;}
.theSearchBox a.closeBtn{position: absolute; top: 0px; cursor: pointer; right: 40px; width: 38px; height: 38px; display: block; background:url(../images/icon_menu_close.png) center center no-repeat; background-size: contain;}
.theSearchBox .searchKeyWord{ width:100%; max-width: 515px; margin: 0 auto; border-bottom: 1px solid #dbdbdb; }
.theSearchBox .searchKeyWord input{ font-size: 16px; text-align: center; float: left; height: 45px; line-height: 45px; width:80%; width: calc(100% - 50px);}
.theSearchBox .searchKeyWord a.btn_search{ float: left; width: 35px; height: 45px; cursor: pointer; display: block; background: url(../images/search_img.png) center center no-repeat; background-size: contain;}
.theSearchBox p.hotWord{ width:100%; max-width: 515px; margin: 0 auto; padding: 20px 0;}
.theSearchBox p.hotWord a{ color: #333; margin: 0 10px; }
.theSearchBox p.hotWord a:hover{text-decoration: underline;}

/*menu 子選單*/
.TopSubMenuBox{ display: none; width: 100%; padding: 17px 0; background-color: #fff; position: fixed; top: 97px; z-index: 11; box-shadow:0 3px 5px rgba(0,0,0,.1);}
.TopSubMenuBox ul.goodsType{ width: 100%; margin: 0 auto; text-align: left; }
.TopSubMenuBox ul.goodsType li{ width: 25%; min-height: 170px; display: inline-flex; max-width: 104px; margin: 0 25px; }
.TopSubMenuBox ul.goodsType li p.name{ font-size: 14px; color: #666; text-align: center; padding-bottom: 3px;}
.TopSubMenuBox ul.goodsType li p.new{ color: #eeeeee; font-size: 12px; text-align: center;}
.TopSubMenuBox ul.goodsType li p.new span{padding:2px 8px; border-radius: 20px; background-color: #f3681d; display: inline-block;}
.TopSubMenuBox ul.goodsType li a{ display: block; }
.TopSubMenuBox ul.goodsType li a:hover{ opacity: .5;}

/*--PC footer --*/
.footerBox{ width: 100%; background-color: #1d1d1d; padding: 50px 0 30px 0; }
.footerBox .topBox{ min-height: 115px; }
.footerBox .bottomBox{ width: 100%; }
.footerBox h1.logo{ float: left; text-align: center; text-indent: -9999px; padding-right: 115px; }
.footerBox h1.logo a{ width: 120px; height: 50px; display: block; background: url(../images/DCW_logo.png) center center no-repeat ; background-size: contain; }
.footerBox p.other_link{ float: left; text-align: left; font-size: 16px;  color: #fff;}
.footerBox p.other_link a{ display: inline-block; color: #ffffff; line-height: 50px; padding: 0 15px; }
.footerBox p.other_link a:hover{ text-decoration: underline; }
.footerBox .info{ float: right; }
.footerBox .info p{ font-size: 12px; line-height: 30px; color: #fefefe; text-align: justify;white-space:pre-wrap; }
.footerBox .info a.icon_wechat{ width: 30px; display: block; height: 30px; margin-top: 5px; background: url(../images/Login_wechat_logo.png) center center no-repeat; background-size: contain; }
.footerBox p.copyrights{text-align: center; font-size: 12px; color: #646566; padding: 15px 0;}

@media (max-width:1200px){
	.headerBox .ContentsBox, .footerBox .ContentsBox { max-width:90%; }
	.headerBox .top_menu ul li h3 a{ line-height: 30px; color: #666; padding: 0 15px; }
	.footerBox h1.logo{padding-right: 40px;}
}
@media (max-width:1100px){
	.footerBox p.other_link a{padding: 0 10px;}
}
@media (max-width:1000px){
	.headerBox h1.logo{padding-right: 15px;}
	.headerBox .top_menu ul li h3 a{ padding: 0 10px;}
	.footerBox h1.logo{padding-right: 20px;}
	.footerBox p.other_link{font-size: 15px;}
	.footerBox p.other_link a{padding: 0 8px;}
}
